.logo {
    height: 35px;
}

.banner-small {
    width: 100%;
}

.banner-big {
    display: none;
}

button.nav-link#example {
    border: none;
    background: none;
}

.navbar-toggler {
    border: none;
}

a {
    text-decoration: none;
}

.offcanvas-body div a {
    color: #DBD9DB;
}

.dropdown-item{
   color: #13315C;
}

.dropdown-menu{
    border: none;
    background-color:#EEF4ED ;
}

p {
    font-family: 'Titillium Web', sans-serif;
}

h1 {
    font-family: 'Satisfy', cursive;
}

h2 {
    font-size: 3em;
}

h2,
h3 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
}

h1,
h2,
h3 {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.offcanvas {
    background-color: #FFA987;
}

.icons {
    width: 40px;
    height: 30px;
    margin: 20px;
    display: flex;
}

nav div a:hover {
    background: none;
}

.youtube {
    width: 100%;
    height: 400px;
}

/*********flex box footer social media icons*************/
.social {
    display: flex;
    justify-content: space-between;
}

.card {
    border: 0px;
    margin: 10px;
}

a {
    color: #BD632F;
    padding: 5px;
}

a:hover {
    color: white;
    background-color: #BD632F;
    border-radius: 5px;
}

footer {
    background-color: #E54B4B;
}

footer a,
footer p {
    color: white;
}

.footer-nav a:hover,
.social a:hover {
    background: none;
}

.tag {
    height: 400px;
    width: 100%;
    color: #EDE7D9;
    font-size: 15vw;
    padding-top: 150px;
}

/***********web page style*****/
.web-card {
    width: 90%;
    margin: auto;
    margin-bottom: 60px;
}

.web-example {
    width: 100%;
}

.web {
    background-image: url(../img/web-bg.png);
    background-size: cover;
}

.ux {
    background-image: url(../img/ux-bg.png);
    background-size: cover;
}

/**********Photograph**********/
.photos {
    width: 100%;
    color: white;
    position: relative;
    text-align: center;
}

.pho-head {
    width: 100%;
}

.pho-text {
    width: 100%;
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.178);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

.pho-list {
    width: 80%;
    margin: auto;
    margin-top: 30px;
}

.pho-items {
    width: 100%;
    margin-bottom: 20px;
}

/**********contact page***************/
.contact {
    background-image: url(../img/contact-bg.png);
    background-size: cover;
}

input,
textarea,
.submit {
    border: solid 1.5px #E54B4B;
    border-radius: 5px;
    margin-bottom: 20px;
}

input {
    height: 40px;
    margin-top: 5px;
}

#check {
    height: 15px;
}

textarea {
    height: 150px;
    margin-top: 5px;
}

.submit {
    background-color: #E54B4B;
    color: white;
    padding: 5px;
}

/**********************
Tablet
***********************/
@media screen and (min-width: 576px) {
    .social a img {
        margin-left: 40px;
    }

    /***********************
web design page styling
***********************/

    .web-example {
        width: 350px;
        height: 510px;
        margin-right: 20px;
        margin-left: 20px;
    }

    /*****flex box styling for images and text box**/
    .img-left {
        display: flex;
    }

    .img-right {
        display: flex;
        flex-direction: row-reverse;
    }

    /**********responsive flexbox photograph page************/
    /********changed banner text overlay on image to flex**********/
    .photos {
        display: flex;
        flex-direction: row-reverse;
        width: 80%;
        margin: auto;
    }

    .pho-head,
    .pho-text {
        width: 50%;
    }

    .pho-text {
        position: unset;
        color: black;
        margin: auto;
        background: none;
    }

    .pho-items {
        width: 45%;
        height: fit-content;
    }

    .pho-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

/***********************
Desktop
************************/
@media screen and (min-width: 992px) {
    .youtube {
        height: 600px;
    }

    .banner-big {
        width: 100%;
        display: block;
    }

    .banner-small {
        display: none;
    }

    .web-example {
        width: 600px;
        height: 920px;
        margin-right: 20px;
    }

    .tag {
        font-size: 10vw;
    }

    /**********responsive flexbox photograph lists************/
    .pho-items {
        width: 30%;
    }

}