/*adding margin to content*/
.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 45px;
}

a {
    color: black;
}

li {
    list-style-type: none;
}

.topnav a {
    font-family: 'Mukta', sans-serif;
    display: block;
    color: black;
    padding: 0.9em;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
}

p {
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1em;
}

/*adding fade in animation for nav hover effect using background-size*/
.btn {
    background-image: url(../img/hover.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 0px;
    transition: 0.3s;
}

li a:hover {
    background-size: 80px;
    color: #DA627D;
}

/*styling burger menu*/
.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #burger {
    display: none;
}

.topnav a.icon {
    display: block;
    position: absolute;
    color: black;
    right: 0;
    top: 0;
}

h1 {
    font-size: 12vw;
    text-align: center;
    font-family: 'Lemon', cursive;
    color: #383838;
    padding: 30px;
}

.dropshadow {
    text-shadow: 2px 2px #F9D6DD;
}

h2 {
    color: #DA627D;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 7vw;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

footer {
    background-color: #F9D6DD;
    padding: 10px;
    margin-top: 20px;

    position: relative;
}

.icons {
    width: 25px;
    height: 25px;
}

/*flex for social media icons*/
.socialicons {
    width: 50%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*--------------------------------
Home page styling
----------------------------------*/
/*specify set home page banner height to limit changes of dropdown menu*/
header.banner-bg {
    height: 500px;
}

.banner-bg {
    background-image: url(../img/home-small.png);
    background-size: 100%;
    background-position: bottom;
}

blockquote {
    font-size: 5vw;
    padding: 50px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.bigger-font {
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
}

/*use float to make text wrap aroud picture*/
.store-front {
    width: 200px;
    float: left;
    margin-right: 10px;
}

/*responsive google map size in css instead of html*/
iframe {
    width: 95%;
    height: auto;
    padding: 10px;
}


/*-----------------------------
menu styling
---------------------*/
.quote {
    font-family: 'Pacifico', cursive;
    font-size: 1.5em;
    text-align: center;
    color: #F58EB5;
}

/*mobile menu and info site banner pictures and contact pic*/
.small-pic,
.our-store,
.slogan {
    width: 100%;
}

/*hide big banner in mobile*/
.big-pic {
    display: none;
}

.card {
    width: 45%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.scoop {
    width: 50%;
    display: block;
    margin: auto;
}

/*using flexbox to style menu list*/
.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.part {
    background-color: #B5D7D6;
    padding: 20px;
}

.flower {
    width: 200px;
    display: block;
    margin: auto;
}

.part .quote {
    color: #6F7070;
}

/*------------------
products styling
---------------------*/
.card2 {
    width: 40%;
}

.card2 img {
    width: 200px;
    display: block;
    margin: auto;
}

/*using flex for product list*/
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/*---------------------------
Our Store Styling
------------------------*/

.box {
    height: 25px;
    width: 85%;
    border-radius: 25px;
    border: none;
    background-color: #F9D6DD;
    margin-top: 10px;
}

label {
    font-family: 'Mukta', sans-serif;
    margin:auto;
}
label.message{
    margin-top: 20px;
}
textarea.box{
    height: 200px;
}
.submit{
    border-radius: 50px;
    border:none;
    padding:10px;
    width:33%;
    font-family: 'Mukta', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top:15px;
    margin-left: 66%;
    background-color: #B5D7D6;
    color: white;

}
/*using flexbox to align table content*/
.contact{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1024px) {}