/*adding margin to content*/
.container {
    width: 90%;
    margin: auto;
}

.logo {
    width: 45px;
}
a{
    color: black;
}
/*changing font color to make nav more clear fitting drop down menu*/
.topnav a {
    font-family: 'Mukta', sans-serif;
    text-decoration: none;
    display: block;
    color: black;
    padding: 0.9em;
    font-size: 1em;
    text-align: center;
}
p{
    font-family: 'Noto Sans HK', sans-serif;
    font-size: 1em;
}
/*adding fade in animation for nav hover effect using background-size*/
.btn {
    background-image: url(../img/hover.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 0px;
    transition: 0.3s;
}

ul a:hover {
    background-size: 80px;
    color: #DA627D;
}

/*styling burger menu*/
.topnav {
    overflow: hidden;
    position: relative;
}

.topnav #burger {
    display: none;
}

.topnav a.icon {
    display: block;
    position: absolute;
    color: black;
    right: 0;
    top: 0;
}

h1{
    font-size: 4em;
    text-align: center;
    font-family: 'Lemon', cursive;
    color:#383838;
    padding:30px;
}

.dropshadow{
    font-family: 'Pacifico', cursive;
    text-shadow:2px 2px #F9D6DD;
}
h2{
    color:#DA627D;
    text-align: center;
}
footer{
    background-color: #F9D6DD;
    padding:10px
}

.icons{
    width:25px;
    height: 25px;
}
.socialicons{
    width: 50%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}
/*Home page styling*/
header{
    height: 600px;
}
.banner-bg{
    background-image: url(../img/home-small.png);
    background-size: 100%;
    background-position: bottom;
}
blockquote{
    font-size:1.2rem;
    padding:50px;
}
.bigger-font{
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
.store-front{
    width:200px;
    float: left;
    margin-right: 10px;
}
/*menu styling*/
.down{
    width:15px;
}
/*responsive google map size in css instead of html*/
iframe{
    width: 95%;
    height: auto;
    padding: 10px;
}
/*products styling*/
@media screen and (min-width: 768px) {
    /*change nav font color to match design*/
    .topnav a{
        color:#DA627D;
    }
    ul a:hover{
        color:black;
    }
}

@media screen and (min-width: 1024px) {}