/*****set a background color for the page and set the font design******/
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

/****style a header*****/
header {
    background-position: center;
    background-image: url("../images/lone-starfish-wide.jpg");
    padding-top: 10em;
    background-repeat: no-repeat;
    text-align: center;
}

/*****style headers******/
H1 {
    color: #ffffff;
    font-weight: lighter;
}

h2,
h3 {
    font-weight: lighter;
}

/*******navegation styling********/
nav {
    background-color: #d5e9e7;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 15px 12%;
    border-right: 1px solid #000000;
}

nav ul li:last-child {
    border-right: none;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: black;
}

/******adding container for article******/
.container {
    margin: 0 auto;
}

/****image float on left****/
img {
    float: left;
    width: 20%;
    padding-right: 10px;
}

/******set up body******/
body {
    width: 80%;
    background-color: #d5e9e7;
    margin: auto;
}

main {
    padding: 5px;
    font-size: smaller;
}

/******contact style********/
.box {
    width: 95%;
    height: max-content;
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
}

/***input boxes styling**/
.box2 {
    width: 98%;
}

textarea {
    height: 50px;
}

/***choice question font setting**/
.mtext {
    font-size: medium;
}

/****button styling****/
button {
    padding: 5px;
    background: none;
    border: 1px solid #000000;
    margin-top: 1em;
}


/******footer styling****/
footer {
    font-size: smaller;
    padding: 1rem;
    text-align: right;
}