html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #aad4cf;
}

header {
    background-position: center;
    background-image: url("../images/lone-starfish-wide.jpg");
    background-size: 100%;
    padding-top: 4em;
    background-repeat: no-repeat;
    text-align: center;
}
H1{
    color: #ffffff;
    font-weight: lighter;
}
nav {
    position:initial;
    top: 0;
    left: 0;
    margin:auto;
    background-color: #d5e9e7;
  }
nav ul {
    list-style: none;
    text-decoration: none;
}

nav ul a {
    display: block;
    text-decoration: none;
}

p {
    font-size: small;
}

body{
    width: 80%;
    background-color:#d5e9e7;
    margin: auto;
}
