/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------CSS RESET -----------------------------*/

/*--------Customize CSS-----*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap');

/*******Using html tag to change the font family, background and fonts color for the whole page****/
html {
    background-color: #F7F7FF;
    color: #333131;
    font-family: 'Montserrat', sans-serif;
}

/*****Using body tag to change the margin for the whole page****/
body {
    width: 305px;
    margin: auto;
}

/******styling the logo header****/
.logo {
    width: 115px;
}

h1 {
    font-size: 60px;
    font-weight: bold;
}

header p {
    font-size: 24px;
    font-weight: normal;
    padding-bottom: 10px;
}

form {
    width: 300px;
    height: 530px;
    background-color: white;
    border-radius: 25px;
    padding: 25px;
}

.apply-form {
    box-shadow: grey 5px 10px 15px;
}

form h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 15px;
}

form p {
    font-size: 16px;
    margin-bottom: 15px;
}

input {
    width: 280px;
    height: 40px;
    background-color: #F4F4F5;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 0px;
    padding: 10px;
    font-size: 16px;
    font-weight: lighter;
    color: #9B9B9B;
}

input.checkbox {
    width: 25px;
    height: 25px;
    display: inline;
}

label.non-bold {
    font-weight: lighter;
}

button {
    width: 280x;
    height: 55px;
    background-color: #57EEAB;
    font-size: 24px;
    border-radius: 10px;
    border: 0;
    margin: auto;
    font-weight: bold;
}

div p {
    font-weight: 300;
    margin-top: 15px;
}

div p a {
    text-decoration: none;
    color: #FF8480;
}

footer {
    margin-top: 50px;
    padding-top: 20px;
    background-color: #FFFD8C;
   
}
footer h3{
    font-size: 18px;
    font-weight:bold;
}
