/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------------------------CSS RESET -----------------------------*/

/*------------------custom CSS-------------------------*/
html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #000;
}

i {
    color: #c78b07;
    padding: .5rem;
    font-size: 1rem;
    border: solid 2px #c78b07;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 1em 0 0.5em;
}

h2 {

    font-size: xx-large;
}

h3 {
    font-size: larger;

}

p {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin: 1rem;
    margin-bottom: 1rem;
}

img {
    width: 100%;
}

.container {
    padding: 10px;
}

/**************Navegation styling****************/
.mobile-logo{
    width:max-content;
}
.logo{
    background-color: #c78b07;
}
nav {
    font-size: 1rem;
    font-family: sans-serif;
   padding: 10px;;
}

nav ul li a {
    color: #c78b07;
    text-decoration: none;
    padding: 1rem;
    display: block;
    text-align: center;
}
nav a:hover{
    background-color: #c78b07;
    color: #000;
}
.search-box{
    
        width: 90%;
        height: 35px;
        margin-bottom: .5rem;
        border: solid .5px #000;
        margin-top: 5px;
}
/******HEADER STYLING***********/
.head-bg{
    background-image: url(../img/main-banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding:3rem;
}
.header-bg {
    color: #fff;
    background-color: rgba(0, 0, 0, .5);
}

h1 {
    font-size: 3rem;
    font-weight: bold;
    padding-top: 30px;
    margin-left: 10px;
}
.contact{
    color: #000;
    background-color: #c78b07;
    padding: 1rem;
    text-decoration: none;
    margin-left: 10px;
}
.contact i{
    color: #000;
}
/*********Button styling******/
.btn {
    text-decoration: none;
    padding: 1.5rem;
    background-color: #000;
    color: #fff;
}

a i {
    color: #fff;
    border: none;
    margin: 1rem;
}

/*********About Us Styling**********/
.about-us {
    background-color: #ffe6ac;
}

/*******Our Services***********/
.our-services {
    background-color: #ffe6ac;
    margin-top: 10px;
    padding: 10px;
}

/****Our Vision*******/
.our-vision {
    background-image: url(../img/vision.jpg);
    background-size: cover;
    color: #fff;
}

.our-vision .btn {
    border: solid 2px #c78b07;
    background-color: rgba(0, 0, 0, 0.5);
}

/********Our Team***********/
.our-team {
    background-color: #ffe6ac;
    padding: 10px;
    margin-bottom: 10px;
}

/*******Contact Us******/
.contact-us {
    width: 95%;
    height: max-content;
    padding: 10px;
    margin: 10px;
}
.box {
    width: 100%;
    height: 20px;
    margin-bottom: .5rem;
    border: solid .5px #000;
    margin-top: 5px;
}
textarea{
    height: 50px;
    width:100%;
    margin-top: 5px;
}
button{
    background-color: #000;
    border-radius: 0;
    color: #c78b07;
    font-size: medium;
}
/******table styling********/
table,td,th{
    border:solid .5px #000;
}
table{
    width:100%;
}
thead{
    background-color: #ffe6ac;
}
th, td{
    padding:1rem;
}

/********FOOTER STYLING*******/
footer {
    padding-left: 10%;
    padding-bottom: 1em;
    background-color: #000000;
    color: #c78b07;
    font-size: small;
    padding-top: 1rem;
}

footer p {
    padding-top: .5em;
}

footer p a {
    color: #c78b07;
}